# node
node_modules/
package.json
yarn.lock

# os
.DS_Store

# ----- Pending ⌛ -----
# ----- Done ✅ --------
# DONE: Agregar pruebas automatizadas de las implementaciones [`django-rest-framework-best-practices`].
# DONE: Agregar comentarios en inglés y con estructura estandar [`django-rest-framework-best-practices`].
# DONE: Modificar para que no se incluya el enlace de la sesión de Claude Code en el mensaje de "commit" [`git-best-practices`].
# DONE: Eliminar las "trailling commas" en `fields` de los serializadores [`django-rest-framework-best-practices`].
# DONE: Crear "skill" para despliegues automatizados [`deployment-workflow`].
